<div class="container">
  <!--This is all from flexbox-->
  <div class="row justify-content-center align-items-center">
    <!--This is for icon display-->
        <div class="col col-lg-6">
          <div class="text-center">
            <!--This is called property binding-->
            <h1 [hidden]="isCross" class="uppercase text-danger">Player One Turn</h1>
            <h1 [hidden]="!isCross"class="uppercase text-danger">Player Two Turn</h1>
          </div>
          <div class="grid">
            <div *ngFor="let item of itemArray;index as i"> 
              <div class="card">
                <div class="card-box box" (click) ="handleClick(i)" >
                  <app-icon [iconName]='item'></app-icon>
                </div>
              </div>
            </div>
          </div>


        </div>


        <!--This is 6 coloums rightmost for reload display and winner display-->
        <div class="col col-lg-6 text-center" *ngIf="winMessage">
          <h1 class="uppercase">Game Over {{winMessage}}</h1>
          <button
          (click)="reload()"
          class="btn btn-danger text-uppercase pl-5 pr-5">
            Reload Game
          </button>





          
        </div>

  </div>
</div>